@CHARSET "ISO-8859-1";

body {
	margin:0px;
	background-color: #E6E6E6;
}

.text,a,p,h1,h2,h3,h4,h5,h6,li,thead,td {
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

.contentBackground {
	background-color:white;
}

nav {
	background-color: #FE642E;
}

nav ul {
	list-style:none;
	margin:0px;
}

nav ul li {
	display:inline-block;
}

nav ul li a {
	padding:10px 20px 10px 20px;
	display:block;
	color: #FFFFFF;
	text-decoration:none;
}

nav ul li form {
	padding:0px 10px 0px 10px;
}

nav ul li a:hover {
	background-color: #DF3A01;
	text-decoration:underline;
}

.textBlob {
	padding:3px;
	border-radius:5px;
}