@CHARSET "ISO-8859-1";

#registerFormWrapper {
	width: 90%;
	margin:auto;
	padding:15px 0px 15px 0px;
	text-align:center;
}

#registerForm input,#registerForm select {
	padding:3px;
	font-size:15px;
}