@CHARSET "ISO-8859-1";


#body {
	margin-top:5px;
}

#playerSearch {
	padding:10px 15px 10px 15px;
    border-radius:10px;
    
    display:block;
    
    -webkit-transition : border 300ms ease-out;
    -moz-transition : border 300ms ease-out;
    -o-transition : border 300ms ease-out;
    transition : border 300ms ease-out;
    
    font-size:24pt;
}

#playerSearch, #suggestions {
	border:solid 1px #000000;
	width:90%;
	margin:auto;
}

#suggestions {
	background-color: #FFFFFF;
	display:none;
}

.suggestionRow {
	padding:10px 15px 10px 15px;
}

.suggestionRow:hover {
	background-color: #FE642E;
}

#playerSearch:focus {
	border:solid 1px #2E9AFE;
}