@CHARSET "ISO-8859-1";


#body {
	margin-top:5px;
}

#playerSearch {
	padding:10px 15px 10px 15px;
    border-radius:10px;
    
    display:block;
    
    -webkit-transition : border 300ms ease-out;
    -moz-transition : border 300ms ease-out;
    -o-transition : border 300ms ease-out;
    transition : border 300ms ease-out;
    
    font-size:24pt;
}

#playerSearch, #suggestions, .playerCardContainer {
	width:90%;
	margin:auto;
}

#playerSearch, #suggestions {
	border:solid 1px #000000;
}

#suggestions {
	background-color: #FFFFFF;
	display:none;
}

.suggestionRow {
	padding:10px 15px 10px 15px;
}

.suggestionRow:hover {
	background-color: #FE642E;
}

#playerSearch:focus {
	border:solid 1px #2E9AFE;
}

.playerCardContainer {
	margin-top:10px;
	/*display:none; Uncomment when animations work*/
}

.playerCardBody {
	background-color:white;
	padding:10px 5px 10px 5px;
}

.playerCardAdvisory {
	color: #8A0808;
	background-color: #FA5858;
}

.playerCardAdvisory p {
	margin:0px;
	padding:10px 5px 10px 5px;
	font-weight:bold;
}

.playerCardInfo {
	display:inline-block;
	width:69.5%;
}

.playerCardLastSeen {
	display:inline-block;
	width:30%;
	text-align:right;
}

.playerCardNotes {
	
}